.root {
  display: flex;
  background-color: var(--mantine-color-blue-7);
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: var(--mantine-radius-md);
  margin: 1.5rem 0px 2rem;
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.icon {
  position: relative;
  top: 32px;
  left: calc(50% - 100px);
  right: calc(50% + 100px);
  background-color: var(--mantine-color-blue-7);
  border: 1px solid var(--mantine-color-blue-2);
}

.card {
  background-color: transparent;
  font-family: unset;
  font-family: "Motiva Sans Bold", serif;
  color: rgb(24, 33, 109);
  line-height: 1.18;
}

.card .title {
  font-family: "Motiva Sans Bold", serif;
  color: rgb(24, 33, 109);
  font-size: 46px;
  line-height: 1.18;
}

.title {
  color: var(--mantine-color-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--mantine-font-size-sm);
}

.count {
  color: var(--mantine-color-white);
  font-size: rem(43px);
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.description {
  color: var(--mantine-color-blue-0);
  font-size: var(--mantine-font-size-sm);
  margin-top: rem(5px);
}

.stat {
  flex: 1;

  & + & {
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    border-left: rem(1px) solid var(--mantine-color-blue-3);

    @media (max-width: $mantine-breakpoint-sm) {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
      padding-top: var(--mantine-spacing-xl);
      margin-top: var(--mantine-spacing-xl);
      border-top: rem(1px) solid var(--mantine-color-blue-3);
    }
  }
}